header {
    margin-top: 1.5%;
    position: fixed; /* Fija el header en la parte superior */
    top: 0; /* Asegura que esté en la parte superior de la ventana */
    left: 0; /* Asegura que esté a la izquierda de la ventana */
    width: 100%; /* Ajusta el ancho para que ocupe toda la ventana */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

body {
    background-image: url('rm218-bb-07.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* La imagen de fondo cubrirá todo el espacio del body */
    color: white;
}

.header-container {
    display: flex;
    justify-content: center;
    user-select: none;
}

.header-inner {
    display: flex;
    background: rgb(39, 38, 38);
    backdrop-filter: blur(300px);
    border-radius: 40px;
}

.header-item {
    padding: 5px 10px;
    border-radius: 40px;
    background: rgb(39, 38, 38);
    cursor: pointer;
    margin: 0 5px;
    backdrop-filter: blur(300px); /* Desenfoque predeterminado */
}

.header-item:hover {
    background: rgb(26, 25, 25);
}

.profile-container {
    text-align: center;
}

.profile-picture {
    width: 85px; /* Ancho de la foto de perfil */
    height: 85px; /* Altura de la foto de perfil */
    background-image: url('Tu_foto_de_perfil.jpg'); /* Ruta de la foto de perfil */
    background-size: cover;
    border-radius: 50%; /* Hace que la foto de perfil sea redonda */
    margin: 20px 0; /* Ajusta el margen superior e inferior */
    margin-left: 35%; /* Ajusta el margen izquierdo */
}

.label-nombre {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 2%;
    font-size: 40px;
}

.dev-symbol {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin-left: 35%;
}

.social-section {
    display: flex; /* Utiliza flexbox */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    margin-left: 35%;
}

.boton-logo {
    display: flex; /* Utiliza flexbox */
    align-items: center; /* Centra verticalmente el contenido */
    font-size: 20px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 10px 20px;
    user-select: none;
    margin-right: 10px; /* Ajusta el margen entre los botones */
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.boton-logo i {
    font-size: 35px;
    margin-right: 10px; /* Ajusta el margen entre el icono y el texto */
}

.boton-logo:hover {
    backdrop-filter: blur(100px);
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
}             

.boton-logo-azul {
    display: flex; /* Utiliza flexbox */
    align-items: center; /* Centra verticalmente el contenido */
    color: rgb(62, 62, 238);
    font-size: 20px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 10px 20px;
    user-select: none;
    margin-right: 10px; /* Ajusta el margen entre los botones */
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.boton-logo-azul i {
    font-size: 35px;
    margin-right: 10px; /* Ajusta el margen entre el icono y el texto */
}

.boton-logo-azul:hover {
    backdrop-filter: blur(100px);
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
}

.descripcion {
    font-size: 15px;
    margin-left: 35%;
}

.div-descripcion {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.descripcion-azul {
    font-size: 15px;
    color: rgb(11, 99, 212);
}

.descripcion-rosa {
    font-size: 15px;
    color: palevioletred;
}

.social {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 35%;
    font-size: 40px;
}

.proyectos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 35%;
    font-size: 40px;
}

.proyecto-1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 35%;
    font-size: 43px;
    color: palevioletred;
}

.Python {
    display: flex; /* Utiliza flexbox */
    align-items: center; /* Centra verticalmente el contenido */
    font-size: 20px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 10px 20px;
    user-select: none;
    margin-right: 10px; /* Ajusta el margen entre los botones */
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
    margin-left: 35%;
}

.Python i {
    font-size: 20px;
    margin-right: 10px; /* Ajusta el margen entre el icono y el texto */
}

.pop-up_proyectos {
    background: #555353;
    width: 400px;
    border-radius: 5px;
    margin-left: 35%;
}

.div-recuadro-proyecto {
    margin-left: 2.5%;
    text-decoration: none;
    color: orange;
}

.punto {
    color: white;
    margin-left: 1%;
    margin-right: 1%;
}
.mas-info {
    border: none;
    background: transparent;
    color: orange;
}

.popup {
    width: 400px;
    height: 122px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #555353;
    border-radius: 5px;
    padding: 20px;
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    color: white;
}

.div-img-proyecto {
    width: 250px;
    height: 250px;
    text-align: center;
}

.img-proyecto {
    width: 250px;
    height: 250px;
    background-image: url('3007faf9d519d5896097b4a53930da98.jpg');
    background-size: cover;
}
